.main {
  background-image: linear-gradient(to bottom ,#00000096,#0000009e),url(../public/bg.jpg);
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.search{
    background-color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 10px;
    display: flex;
    gap: 10px;
    width: 30%;
    justify-content: space-between;
}
.search input{
    border: none;
    border-radius: 10px;
    width: 65%;
}
.search button{
    background-color: #e91e63a1;
    color: white;
    border: none;
    border-radius: 10px;
    width: 35%;   
}

.weather{
    background-color: white;
    color: black;
    width: 30%;
    padding: 5px 10px;
    border: none;
    border-radius: 10px;
}

.weather-title{
    display: flex;
    justify-content: space-between;  
    gap: 20px;
    padding:0 30px;
}
.weather-title-temp{
    display: flex;
    justify-content: center;
    align-items: center;
}
.weather-info{
    display: flex;
    justify-content: space-between;
    padding:0 30px;
    margin-top: -12px;
}
p{
    margin: 0;
}
.weather-info-firstP{
    color: #8080809e;
    font-size: 13px;
    font-weight: 600;
}

.weather-info-secondP{
    color: #000000a1;
    font-size: 15px;
    font-weight: 600;
}

.forcast{
    display: flex;
    overflow: auto;
    gap: 10px;
    padding: 0 20px;
}

.weather-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.weather-item img{
    margin-bottom: -15px
}
.weather-item p{
    text-align: center;
    font-size: 12px;
    font-weight: 600;
    color: #000000a1;
    margin-bottom: -5px;
}

.weather-item span{
    color: #8080809e;
    font-size: 13px;
    font-weight: 600;
}
.weather-item-temp{
    display: flex;
    justify-content: space-between;
    gap: 12px;
}
.weather-item .temp-max{
    color: #ff00008f;
}

.weather-item .temp-min{
    color: #0000ff99;
}

